.nav-item{
    text-decoration: none;
    color: #000;
    font-family: "brandon-grotesque", Sans-serif;
    text-transform: uppercase;
    font-size: 3vh;
    font-weight: 600;
    width: 12%;
    opacity: 0.5;
}

.logo-clp{
    height: auto;
    /* translate: 80px 0px; */
    margin: auto;
    /* background: rgba(255,255,255,0.3); */
}