footer{
    background: rgba(50, 50, 50, 0.8);
    font-size: 1rem;
    color: #fff;
    padding-block: 3vh;
}
.primeira-parte-footer{
    text-align: left;
    padding-inline: 2vw;
}

.primeira-parte-footer > div > p {
    text-align: justify;
}
.margin-minus{
    margin-bottom: -3px;
}

.segunda-parte-footer{
    text-align: end;
    padding-inline: 2vw;
    padding-block: 1.6vh;
}
.terceira-parte-footer{
    text-align: justify;
    padding-inline: 2vw;
    padding-block: 1.6vh;
}
.icones-footer {
    color: #fff;
}
.logo-seguranca-footer {
    text-align: end;
    position: absolute;
    bottom: 0;
    right: 0;
}
@media (max-width: 991.98px) {
    .footer-nav{
        flex-direction: column !important;
        font-size: 0.7rem;
    }
    .primeira-parte-footer{
        width: 100% !important;
        padding-bottom: 2.5vh;
    }

    .primeira-parte-footer > div {
        width: 90% !important;
        margin: auto;
    }

    .primeira-parte-footer > div > p {
        text-align: justify;
    }

    .segunda-parte-footer{
        width: 100% !important;
        justify-content: center;
        display: flex;
        text-align: end;
    }
    .segunda-parte-footer > div{
        width: 90% !important;       
    }
    .terceira-parte-footer{
        display: flex;
        width: 100% !important;
        padding-inline: 2vw;
        padding-block: 1.6vh;
        justify-content: center;
    }
    .terceira-parte-footer > div{
        width: 45% !important;
        align-content: center;
    }
    .terceira-parte-footer > div > p{
        text-align: start;
    }
    .logo-seguranca-footer {
        text-align: end;
        position: relative !important;
    }
}