footer{
    height: auto;
    background-color: #000;
    background: rgba(50, 50, 50, 0.8);
    font-size: .875em;
    color: #fff;
}

.margin-minus{
    margin-bottom: -4px;
}

.menu-footer{
    margin: 20px 0px 20px 0px;
    width: 33%;
}

.icones-footer {
    color: #fff;
}