footer{
    background: rgba(50, 50, 50, 0.8);
    font-size: 1rem;
    color: #fff;
    padding-block: 3vh;
}
.primeira-parte-footer{
    padding-inline: 2vw;
}
.segunda-parte-footer{
    padding-inline: 2vw;
}
.terceira-parte-footer div{
    justify-self: center;
}
.menu-footer{
    margin-block: 0.2rem;
}
@media (max-width: 991.98px) {
    .footer-nav{
        flex-direction: column !important;
        font-size: 0.7rem;
    }
    .primeira-parte-footer{
        padding-block: 1vw;
    }
    .segunda-parte-footer{
        padding-block: 1vw;
    }
    .terceira-parte-footer{
        padding-block: 1vw;
    }
}