body{
    -webkit-background-size: 4000px;
    -moz-background-size: 4000px;
    -o-background-size: 4000px;
    background-size: 4000px;
}

.primeira-sect{
    height: 20rem;
    font-family: "Montserrat", "Century Gothic", 'CenturyGothic', 'AppleGothic', "Trebuchet MS", Helvetica, sans-serif;
}

.area-lp{
    background: rgba(255,255,255,0.8);
}

.logo-lp {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 16%;
    height: 100px;
    align-content: center;
}

.segunda-sect {
    height: 5rem;
    align-content: center;
}

.topic-LP{
    height: 70px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50px;
    background-color: #dee2e6;
    align-content: center;
    background: rgba(255,255,255,0.8);
    z-index: 2;
    font-family: "brandon-grotesque", Sans-serif;
    text-transform: uppercase;
    font-size: 3.5vh;
}

.topic-LP p {
    margin-bottom: 0px;
    opacity: 0.5;
    font-weight: 600;
}

.terceira-sect{
    height: auto;
}

.area-courses{
    background: rgba(255,255,255,0.8);
    height: 100%;
    margin-top: 8px;
    font-family: "Montserrat", "Century Gothic", 'CenturyGothic', 'AppleGothic', "Trebuchet MS", Helvetica, sans-serif;

}

.cursos-procurados{
    border-radius: 10px;
    margin: 0px 10px 10px 10px;
}

.thumbnail-curso-lp{
    border-bottom: 1px solid #dee2e6;
} 

.thumbnail-curso-lp img {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
}

.descricao-curso-lp{
    padding-bottom: 5px;
}
.descricao-curso-lp div {
    margin-left: 20px;
}

.descricao-curso-lp p{
    font-family: "Montserrat", "Century Gothic", 'CenturyGothic','AppleGothic', "Trebuchet MS", Helvetica, sans-serif;
    font-size: 2vh;
    margin: 3px 3px 3px 20px;
}