body{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.primeira-sect{
    height: 20rem;
    font-family: "Montserrat", "Century Gothic", 'CenturyGothic', 'AppleGothic', "Trebuchet MS", Helvetica, sans-serif;
}

.area-lp{
    background: rgba(255,255,255,0.8);
}

.logo-lp {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 16%;
    height: 100px;
    align-content: center;
}

.segunda-sect {
    height: 5rem;
    align-content: center;
}

.topic-LP{
    height: 70px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50px;
    background-color: #dee2e6;
    align-content: center;
    background: rgba(255,255,255,0.8);
    z-index: 2;
    font-family: "brandon-grotesque", Sans-serif;
    text-transform: uppercase;
    font-size: 2vh;
    font-weight: 600;
}

.topic-LP > p{
    margin-bottom: 0px;
    opacity: 0.6;
}

.terceira-sect{
    height: auto;
}

.area-courses{
    background: rgba(255,255,255,0.8);
    height: auto;
    font-family: "Montserrat", "Century Gothic", 'CenturyGothic', 'AppleGothic', "Trebuchet MS", Helvetica, sans-serif;
}

.cursos-procurados{
    border-radius: 10px;
    width: calc((100% - (4 - 1 ) * 1.6rem) / 4);
}

.thumbnail-curso-lp{
    border-bottom: 1px solid #dee2e6;
} 

.thumbnail-curso-lp img {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
}

.descricao-curso-lp{
    padding-bottom: 10px;
    height: auto;
}

.descricao-curso-lp > p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-family: "Montserrat", "Century Gothic", 'CenturyGothic','AppleGothic', "Trebuchet MS", Helvetica, sans-serif;
    font-size: 2vh;
}