.nav-item{
    text-decoration: none;
    color: #000;
    font-family: "brandon-grotesque", Sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    opacity: 0.5;
}
#logo-ae{
    display: none;
}
#btn-menu{
    translate: 0px 45%;
    border: none;
}
@media (max-width: 991.98px) {
    .fix-nav {
        flex-direction: column !important;
    }
    #logo-ae{
        display: flex !important;
    }
    .logo-collapse{
        display: none;
    }
    .navbar-collapse {
        display: table;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
}