.primeira-sect{
    font-family: "Montserrat", "Century Gothic", 'CenturyGothic', 'AppleGothic', "Trebuchet MS", Helvetica, sans-serif;
}
.area-lp{
    background: rgba(255,255,255,0.8);
}
.logo-lp {
    width: 16%;
    margin-block: 10px;
}
.logo-lp > img {
    width: 7vw;
    height: 12vh;
}
@media (max-width: 1243px){ 
    .titulo-primeira-sect{
        font-size: 2.4vw;
    }
}
@media (max-width: 991.98px) {
    .area-logo-lp{
        display: none;
    }
    .titulo-primeira-sect{
        font-size: 5vw;
    }
    .wrapper {
        width: 100%;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scrollbar-width: thin;          /* "auto" or "thin" */
        scrollbar-color: rgba(0,0,0,0.1) transparent;   /* scroll thumb and track */
    }
    .wrapper::-webkit-scrollbar-track {
        background: transparent;        /* color of the tracking area */
    }
    .wrapper::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 20px;
    }
    .slider {
        display: flex;
        flex-wrap: nowrap;
    }
    .slider > div{
        margin-inline: 10px;
    }
    .slider > div > img {
        width: 10vw; 
        height: 10vh;
    }
    .angle-carousel{
        translate: 0% 26%;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        text-align: center;
        color: rgba(255,255,255,0.3); 
        /* pointer-events: none; Ensure these divs don't block interactions */
        transition: background-color 0.3s ease; /* Smooth transition */
        background-color: transparent;
    }
}
@media (max-width: 630px){
    .titulo-primeira-sect{
        font-size: 4vw;
    }
    .slider > div > img {
        width: 13vw !important;
        height: 10vh !important;
    }
}
@media (max-width: 426px){
    .titulo-primeira-sect{
        font-size: 1em;
    }
    .slider > div > img {
        width: 17vw !important;
        height: 10vh !important;
    }
}
@media (min-width: 992px){ 
    .slide{
        display: none;        
    }
}
