.primeira-sect{
    font-family: "Montserrat", "Century Gothic", 'CenturyGothic', 'AppleGothic', "Trebuchet MS", Helvetica, sans-serif;
}

.area-lp{
    background: rgba(255,255,255,0.8);
}

.logo-lp {
    width: 16%;
    margin-block: 10px;
}

.logo-lp > img {
    width: 7vw;
    height: 12vh;
}

@media (max-width: 991.98px) {
    /* .area-lp{
        flex-direction: column;   
    }
    .titulo-primeira-sect{
        text-align: justify;
    }
    */.area-logo-lp{
        display: none;
    }
    /*
    .carousel-control-prev-icon, .carousel-control-next-icon{
        background-color: #dee6e2;
    }
    .carousel-item{
        text-align: center;
        display: none;
    }
    .carousel-item.active{
        display: flex !important;
        flex-direction: row;
    } */

    .wrapper {
        width: 100%;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
      }
      
    .slider {
        display: flex;
        flex-wrap: nowrap;
        border: 0px solid #000;
      }
    .slider > div{
        border: 0px solid #000;
        margin-inline: 10px;
    }
    .slider > div > img {
        width: 10vw; 
        height: 10vh;
    }

    .angle-carousel{
        translate: 0% 26%;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        text-align: center;
        color: rgba(255,255,255,0.9);
    }
}

@media (max-width: 630px){
    .slider > div > img {
        width: 13vw !important;
        height: 10vh !important;
    }
}

@media (max-width: 426px){
    .titulo-primeira-sect{
        font-size: 1em;
    }
    .slider > div > img {
        width: 17vw !important;
        height: 10vh !important;
    }
}

@media (min-width: 992px){ 
    .carousel-container{
        display: none;        
    }
}