.topics {
    width: 100%;
}
.area-topics{
    display: flex;
    flex-direction: row;
}
.area-content {
    width: 16%;
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50px;
    align-content: center;
    background: rgba(255,255,255,0.8);
    font-family: "brandon-grotesque", Sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
}
.area-content > p{
    opacity: 0.6; 
}

@media (max-width: 1363px){
    .topics {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scrollbar-width: thin;          /* "auto" or "thin" */
        scrollbar-color: rgba(0,0,0,0.1) transparent;   /* scroll thumb and track */
    }
    .topics::-webkit-scrollbar-track {
        background: transparent;        /* color of the tracking area */
    }
    .topics::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 20px;
    }
    .area-topics {
        width: 1363px;
        display: flex;
        flex-wrap: nowrap;
    }
}