.segunda-sect {
    height: auto;

}

.topic-LP > div {
    height: 70px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50px;
    align-content: center;
    background: rgba(255,255,255,0.8);
    font-family: "brandon-grotesque", Sans-serif;
    text-transform: uppercase;
    font-size: 2vh;
    font-weight: 600;
}

.topic-LP > div > p{
    opacity: 0.6;
}