.area-courses{
    background: rgba(255,255,255,0.8);
    font-family: "Montserrat", "Century Gothic", 'CenturyGothic', 'AppleGothic', "Trebuchet MS", Helvetica, sans-serif;
}
.modais{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(472px, 1fr));
}
.cursos-procurados{
    border-radius: 10px;
    margin-block: 1vh;

}
.cursos-procurados div{
    width: 350px;
}
.thumbnail-curso-lp{
    border-radius: 10px 10px 0px 0px;
}
.thumbnail-curso-lp img {
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0px 0px;
}
.descricao-curso-lp{
    border-radius: 0px 0px 10px 10px;
}
.descricao-curso-lp > p{
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    word-break: break-word;
    font-family: "Montserrat", "Century Gothic", 'CenturyGothic','AppleGothic', "Trebuchet MS", Helvetica, sans-serif;
    font-size: 2vh;
}

@media (max-width: 992px){
    .cursos-procurados div{
        width: 100%;
        flex-direction: row !important;
    }
    .thumbnail-curso-lp{
        width: 100% !important;
        border-radius: 10px 0px 0px 10px;
    }
    .thumbnail-curso-lp img {
        width: 350px;
        height: 250px;
        border-radius: 10px 0px 0px 10px;
    }
    .descricao-curso-lp{
        border-radius: 0px 10px 10px 0px;
        padding-bottom: 10px;
    }
    .descricao-curso-lp > p{
        margin-block: 0px !important;
    }
} 
@media (max-width: 572.98px){
    .cursos-procurados div{
        width: 350px;
        flex-direction: column !important;
        
    }
    .thumbnail-curso-lp{
        width: 100% !important;
        border-radius: 10px 10px 0px 0px;
    }
    .thumbnail-curso-lp img {
        width: 350px;
        height: 250px;
        border-radius: 10px 10px 0px 0px;
    }
    .descricao-curso-lp{
        border-radius: 0px 0px 10px 10px;
        padding-bottom: 10px;
    }
    .descricao-curso-lp > p{
        margin-block: 13px !important;
    }
    
}